* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body, html, #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-container {
  background: rgba(255, 255, 255, 0.05); 
  padding: 100px;
  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);

  width: 650px;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  animation: fadeIn 0.7s ease-out;
}

.Login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  opacity: 0.9;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;

  background: rgba(255, 255, 255, 0.1);
  color: #fff;

  transition: 0.25s ease;
}

.input-group input::placeholder {
  color: #e0e0e0;
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.4);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;

  background: rgba(255,255,255,0.9);
  color: #333;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
  font-weight: 600;
}

button:hover {
  background: #fff;
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.3);
}

.error-message, .success-message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.error-message {
  background: rgba(255, 0, 0, 0.25);
  color: #ffbdbd;
}

.success-message {
  background: rgba(0, 255, 0, 0.25);
  color: #c0ffb9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
